<div class="sign_up">
<h1><%= @game.title %></h1>

<p><%= @game.body %></p>
<p><%= @game.company %></p>

<ul>
  <li><%= link_to "Edit", edit_game_path(@game) %></li>
  <li><%= link_to "Destroy", game_path(@game), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>

<h2>Comments</h2>
<%= render @game.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
</div>